.error {
  margin-bottom: 120px;

  &__wrapper {
    position: relative;
    margin: 112px 24px 0;
    height: 80vh;
    border-radius: 32px;
    background-image: url("../images/home.svg");
    background-size: cover;
    background-repeat: no-repeat;

    @include m($lg) {
      height: 80vh;
    }
  }

  img {
    position: absolute;
    left: 50%;
    top: 0;
    margin: 0 auto;
    transform: translate(-50%, -10%) scale(0.8);

    @include m($xl) {
      transform: translate(-50%, -10%) scale(0.6);
    }
  }

  .headings {
    position: absolute;
    left: 50%;
    top: 70%;
    margin: 0 auto 16px;
    height: fit-content;
    max-width: 452px;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    transform: translateX(-50%);

    .stroke {
      -webkit-text-stroke: 4px $red-dark;
    }

    h4 {
      text-align: center;
    }

    @include m($lg) {
      position: relative;
      left: 0;
      transform: translateX(0);
    }
  }

  .header__buttons {
    position: absolute;
    left: 50%;
    bottom: 6%;
    transform: translateX(-50%);

    .button {
      margin: 0;
    }
  }

  .button {
    color: $red-dark;

    &::before {
      background-color: $white;
    }

    &::after {
      background-color: $red-dark;
    }
  }
}