.error {
  margin-bottom: 120px;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 112px 24px 0;
    min-height: 70vh;
    border-radius: 32px;
    background-image: url("../images/home.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__inner {
    position: absolute;
    left: auto;
    right: auto;
    top: 68%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;

    @include m($md) {
      top: 50%;
    }
  }

  img {
    margin: 0 auto;
    transform: scale(0.7) translateY(-18%);

    @include m($xl) {
      transform: scale(0.6) translateY(-18%);
    }

    @include m($md) {
      display: block;
      width: 500px !important;
    }
  }

  .headings {
    max-width: 492px;
    font-size: 32px;
    line-height: 32px;

    .stroke {
      -webkit-text-stroke: 4px $red-dark;
    }

    h4 {
      padding: 0 20px;
      text-align: center;
    }

    @include m($lg) {
      position: relative;
      left: 0;
      transform: translateX(0);
    }

    @include m($md) {
      top: 65%;
    }
  }

  .header__buttons {
    margin: 0 auto;

    .button {
      margin: 0;
    }
  }

  .button {
    color: $red-dark;

    &::before {
      background-color: $white;
    }

    &::after {
      background-color: $red-dark;
    }
  }
}