.hero {
  position: relative;
  margin: 112px 24px 358px;
  padding: 5% 0 27%;
  border-radius: 32px;
  background-image: url("../images/home.svg");
  background-size: cover;

  &__rotate {
    position: absolute;
    right: 15%;
    top: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
    transform: translateX(50%);

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 2;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: $white;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 160px;
      height: 160px;
      background-image: linear-gradient(180deg, #00b049 0%, #00a2ac 52.6%, #005a8d 100%);
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 5;
      animation: rotating 28s linear infinite;
    }

    span {
      z-index: 3;
      display: block;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.02em;
      color: $green-dark;
    }

    @include m($xl) {
      right: 10%;
      transform: scale(0.9) translateX(50%);
    }

    @include m($lg) {
      right: 50%;
      top: 100%;
      transform: scale(0.7) translateX(70%);
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    position: relative;
    z-index: 5;
    margin-bottom: 32px;
    max-width: 996px;
    text-align: center;
    color: $white;

    &::after {
      content: "Mono Cats is a blockchain game IP by Mono Labs";
      position: absolute;
      left: 50%;
      top: 4px;
      z-index: -1;
      width: 100%;
      font-family: "Luckiest Guy", cursive;
      font-weight: 400;
      font-size: 80px;
      line-height: 72px;
      letter-spacing: normal;
      color: $red-dark;
      transform: translateX(-50%);

      @include m($lg) {
        padding: 0 32px;
        font-size: 44px;
        line-height: 40px;
      }
    }

    @include m($lg) {
      padding: 0 32px;
      font-size: 44px;
    }

    @include m($md) {
      margin-bottom: 12px;
    }
  }

  p {
    max-width: 494px;
    text-align: center;
    color: $white;

    @include m($lg) {
      padding: 0 15px;
    }
  }

  &__img {
    position: absolute;
    left: 50%;
    bottom: -17%;
    z-index: 2;
    max-width: 80%;
    transform: translateX(-50%);

    @include m($lg) {
      max-width: 100%;
    }

    @include m($md) {
      max-width: 115%;
    }

    @include m($sm) {
      max-width: 130%;
    }
  }

  .scroll-down {
    @include m($lg) {
      display: none;
    }
  }

  @include m($xl) {
    margin: 112px 24px 300px;
    padding: 8% 0 40%;
  }

  @include m($lg) {
    margin: 64px 17px 200px;
    padding: 10% 0 45%;
  }

  @include m($md) {
    padding: 10% 0 60%;
  }

  @include m($sm) {
    padding: 10% 0 70%;
  }

  @keyframes rotating {
    from {
      transform: rotate(0deg) scale(0.95);
    }

    to {
      transform: rotate(360deg) scale(0.95);
    }
  }
}

.story {
  position: relative;
  margin: 0 auto 150px;
  padding: 120px 100px;
  width: 95%;
  max-width: 1416px;
  border-radius: 32px;
  background-color: $beige-light;

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    z-index: -1;
    width: 94%;
    height: 80px;
    background-color: $orange-light;
    transform: translateX(-50%);
  }

  &::before {
    bottom: -24px;
    border-radius: 0 0 32px 32px;

    @include m($lg) {
      bottom: -12px;
      border-radius: 0 0 16px 16px;
    }
  }

  &::after {
    top: -24px;
    border-radius: 32px 32px 0 0;

    @include m($lg) {
      top: -12px;
      border-radius: 16px 16px 0 0;
    }
  }

  &__img-mobile {
    display: none;

    @include m(600) {
      display: block;
      margin-top: 16px;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include m($lg) {
      flex-direction: column-reverse;
    }
  }

  &__text {
    z-index: 5;
    margin-left: 30px;
    max-width: 476px;

    @include m(1280) {
      max-width: 380px;
    }

    @include m($xl) {
      max-width: 320px;
    }

    @include m($lg) {
      margin-left: 0;
      max-width: 100%;
    }
  }

  .headings-title {
    margin-bottom: 32px;
    overflow: hidden;

    .stroke {
      -webkit-text-stroke: 8px $green-dark;
    }

    h2 {
      animation: fade 0.8s;
    }

    @include m($lg) {
      margin-bottom: 16px;
    }
  }

  h5 {
    margin-bottom: 24px;
    line-height: 28px;
    color: $brown-dark;

    @include m($lg) {
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 28px;
    }
  }

  @include m(1400) {
    padding: 90px 80px;
  }

  @include m($xl) {
    padding: 80px 40px;
  }

  @include m($lg) {
    margin: 0 auto 84px;
    padding: 64px 32px;
    width: 95%;
    border-radius: 16px;
  }

  @keyframes fade {
    from {
      transform: translateY(200%);
    }

    to {
      transform: translateY(0);
    }
  }
}

.artwork {
  margin-bottom: 184px;
  padding: 5px 0;
  overflow-x: hidden;

  .headings-title {
    margin-bottom: 48px;
    text-align: center;

    .stroke {
      -webkit-text-stroke: 8px $red-dark;
    }

    h2:not(:first-child) {
      left: 50%;
      transform: translateX(-50%);
    }

    @include m($lg) {
      margin-bottom: 32px;
    }
  }

  ul {
    li {
      margin: 0 24px;
      border-radius: 16px;

      @include m(1400) {
        margin: 0 20px;
      }

      @include m($xl) {
        margin: 0 12px;
      }
    }

    img {
      border-radius: 16px;
    }
  }

  @include m($xl) {
    margin-bottom: 150px;
  }

  @include m($lg) {
    margin-bottom: 70px;
  }
}

.roadmap {
  position: relative;
  margin: 0 24px 184px;
  padding: 160px 0;
  border-radius: 32px;
  background-color: $orange-light;

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    z-index: -1;
    width: 94%;
    height: 80px;
    background-color: $beige-dark;
    transform: translateX(-50%);
  }

  &::before {
    bottom: -24px;
    border-radius: 0 0 32px 32px;

    @include m($lg) {
      bottom: -12px;
      border-radius: 0 0 16px 16px;
    }
  }

  &::after {
    top: -24px;
    border-radius: 32px 32px 0 0;

    @include m($lg) {
      top: -12px;
      border-radius: 16px 16px 0 0;
    }
  }

  .decor-section1 {
    position: absolute;
    left: 6%;
    top: 40%;
  }

  .decor-section2 {
    position: absolute;
    right: 6%;
    top: 60%;
  }

  .headings-title {
    position: relative;
    margin-bottom: 48px;
    text-align: center;

    img {
      position: absolute;
      right: 33%;
      top: 100px;
    }

    .stroke {
      -webkit-text-stroke: 8px $orange-dark;
    }

    h2:not(:first-child) {
      left: 50%;
      transform: translateX(-50%);
    }

    @include m($lg) {
      margin-bottom: 24px;
    }
  }

  .headings-1 {
    .stroke {
      -webkit-text-stroke: 8px #4e55ff;
    }
  }

  .headings-2 {
    .stroke {
      -webkit-text-stroke: 8px #4f8bff;
    }
  }

  .headings-3 {
    position: relative;

    img {
      position: absolute;
      left: -22%;
      top: -65px;
    }

    .stroke {
      -webkit-text-stroke: 8px #7e6ae7;
    }
  }

  .headings-4 {
    .stroke {
      -webkit-text-stroke: 8px #ac5167;
    }
  }

  &__wrapper {
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
    max-width: 1018px;
  }

  &__box {
    position: relative;
    padding: 40px;
    width: 100%;
    max-width: 476px;
    border: 4px solid $red-dark;
    border-radius: 24px;
    background-color: $red-light;

    .headings {
      z-index: 10;
      margin-bottom: 24px;

      h4 {
        z-index: 10;
      }

      @include m($lg) {
        margin-bottom: 12px;
      }
    }

    &:not(:first-child) {
      margin-top: -66px;

      @include m($xl) {
        margin-top: 24px;
      }
    }

    p {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }

    &:first-child {
      .img-arrow1 {
        position: absolute;
        right: -45%;
        top: 56%;
        transform: translateY(-50%);
      }

      .img-box1 {
        position: absolute;
        left: -27%;
        top: -17%;
      }
    }

    &:nth-child(2) {
      .img-arrow2 {
        position: absolute;
        left: -68%;
        top: 60%;
        transform: translateY(-50%);
      }

      .img-box2 {
        position: absolute;
        right: -13%;
        top: -20%;
      }
    }

    &:nth-child(3) {
      .img-arrow3 {
        position: absolute;
        right: -58%;
        top: 61%;
        transform: translateY(-50%);
      }

      .img-box3 {
        position: absolute;
        right: -17%;
        top: -32%;
      }
    }

    &:nth-child(4) {
      .img-box4-2 {
        position: absolute;
        left: -63%;
        top: 64%;
        transform: translateY(-50%);
      }

      .img-box4 {
        position: absolute;
        right: 5%;
        top: -17%;
      }
    }

    &:nth-child(even) {
      margin-left: auto;
    }

    @include m($lg) {
      padding: 24px;
    }
  }

  .decor-star {
    position: absolute;
    left: -27%;
    top: 100px;
  }

  .decor-head {
    position: absolute;
    right: -5%;
    top: 85%;
  }

  .last-elem {
    position: relative;

    img {
      position: absolute;
      right: -3%;
      top: 100%;
    }
  }

  @include m($xl) {
    margin: 0 17px 184px;
    padding: 100px 0;
  }

  @include m($lg) {
    margin: 0 17px 92px;
    padding: 64px 0;
    border-radius: 16px;
  }
}

.benefits {
  margin: 0 auto 160px;
  padding: 5px 17px;
  overflow-x: hidden;

  img {
    width: 88px;
    height: 88px;
    border-radius: 16px;

    &:not(:last-child) {
      margin-right: 16px;

      @include m($md) {
        margin-right: 12px;
      }

      @include m($sm) {
        margin-right: 8px;
      }
    }

    @include m($lg) {
      width: 78px;
      height: 78px;
    }

    @include m($md) {
      width: 68px;
      height: 68px;
    }

    @include m($sm) {
      width: 48px;
      height: 48px;
    }
  }

  span {
    display: inline-block;
    height: 88px;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-size: 104px;
    line-height: 88px;
    text-align: center;
    text-transform: uppercase;
    color: $brown-dark;

    &:not(:last-child) {
      margin-right: 16px;

      @include m($md) {
        margin-right: 12px;
      }

      @include m($sm) {
        margin-right: 8px;
      }
    }

    @include m($lg) {
      height: 78px;
      font-size: 90px;
      line-height: 78px;
    }

    @include m($md) {
      height: 68px;
      font-size: 70px;
      line-height: 68px;
    }

    @include m($sm) {
      height: 48px;
      font-size: 52px;
      line-height: 48px;
    }
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    &:not(:last-child) {
      margin-bottom: 16px;

      @include m($md) {
        margin-bottom: 12px;
      }

      @include m($sm) {
        margin-bottom: 4px;
      }
    }
  }

  h5 {
    margin: 74px auto 0;
    max-width: 554px;
    text-align: center;

    @include m($xl) {
      margin: 50px auto 0;
      font-size: 22px;
      line-height: 30px;
    }

    @include m($lg) {
      margin: 24px auto 0;
      font-size: 18px;
      line-height: 28px;
    }
  }

  @include m($xl) {
    margin: 0 auto 120px;
  }

  @include m($lg) {
    margin: 0 auto 80px;
  }
}

.team {
  margin: 0 17px 184px;
  padding: 5px 0;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 12px 24px;
      padding: 47px 0 56px;
      width: 100%;
      max-width: 376px;
      border-radius: 24px;
      background-color: $beige-light;

      h3 {
        margin-bottom: 15px;
        max-width: 50%;
        text-align: center;
        color: $brown-dark;

        @include m($xl) {
          margin-bottom: 4px;
        }
      }

      p {
        margin-bottom: 32px;
        color: $orange-dark;

        @include m($xl) {
          margin-bottom: 24px;
        }
      }

      @include m($xl) {
        margin: 0 8px 15px;
        padding: 26px 0 40px;
        max-width: 342px;
      }

      @include m($sm) {
        margin: 0 0 15px;
      }
    }
  }

  &__img {
    margin-bottom: 40px;

    @include m($xl) {
      margin-bottom: 24px;
      max-width: 140px;
    }
  }

  &__social {
    display: flex;

    a {
      &:not(:last-child) {
        margin-right: 18px;
      }
    }
  }

  &__social-link {
    position: relative;
    width: 56px;
    height: 56px;
    border-radius: 50%;

    .pressed {
      left: 0;
      top: 0;

      &::before {
        background-color: $brown-dark;
      }

      &::after {
        background-color: $white;
      }
    }
  }

  .headings-title {
    margin-bottom: 48px;
    text-align: center;

    .stroke {
      -webkit-text-stroke: 8px $green-dark;
    }

    h2:not(:first-child) {
      left: 50%;
      transform: translateX(-50%);
    }

    @include m($lg) {
      margin-bottom: 24px;
    }
  }

  @include m($xl) {
    margin: 0 17px 120px;
  }

  @include m($lg) {
    margin: 0 17px 65px;
  }
}

.subscribe {
  position: relative;
  margin: 0 auto 184px;
  padding: 120px;
  max-width: 1417px;
  border-radius: 32px;
  background-color: $green-light;

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    z-index: -1;
    width: 94%;
    height: 80px;
    background-color: #adda6d;
    transform: translateX(-50%);
  }

  &::before {
    bottom: -24px;
    border-radius: 0 0 32px 32px;

    @include m($lg) {
      bottom: -12px;
      border-radius: 0 0 16px 16px;
    }
  }

  &::after {
    top: -24px;
    border-radius: 32px 32px 0 0;

    @include m($lg) {
      top: -12px;
      border-radius: 16px 16px 0 0;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include m($lg) {
      flex-direction: column;
    }
  }

  &__text {
    margin-left: 30px;
    width: 100%;
    max-width: 480px;

    @include m($lg) {
      margin-left: 0;
      max-width: 100%;
    }
  }

  &__form {
    label {
      margin-bottom: 32px;

      span {
        display: block;
        margin-bottom: 4px;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.04em;
        color: $brown-light;
      }

      input {
        display: block;
        padding: 16px;
        width: 100%;
        height: 54px;
        max-width: 377px;
        outline: none;
        border: 2px solid $orange-dark;
        border-radius: 16px;
        background-color: $white;

        &::placeholder {
          font-weight: 600;
          font-size: 14px;
          line-height: 22px;
          letter-spacing: -0.04em;
          color: #c4c5c6;
        }
      }

      @include m($lg) {
        margin-bottom: 16px;
      }
    }

    .subscribe__button {
      display: block;
    }
  }

  .headings-title {
    margin-bottom: 8px;

    .stroke {
      -webkit-text-stroke: 8px $red-dark;
    }
  }

  p {
    margin-bottom: 32px;

    @include m($lg) {
      margin-bottom: 24px;
    }
  }

  .button {
    position: relative;
    width: fit-content;
    cursor: pointer;

    input {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      opacity: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  @include m(1400) {
    padding: 90px 80px;
  }

  @include m($xl) {
    padding: 80px;
  }

  @include m($lg) {
    margin: 0 auto 84px;
    padding: 64px 32px;
    border-radius: 16px;
  }
}

.roadmap-img-arrow {
  @include m($lg) {
    display: none;
  }
}